DOWNLOAD_TOOL=wget
UNTAR=tar xf
UNZIP=unzip

X11_PREFIX=/opt/X11

PREFIX=$(PWD)/local
BUILD_DIR=$(PWD)/build
JAVA_HOME=$(shell ./jprop java.home)
TCL_VERSION=8.6.9
TK_VERSION=8.6.9
THREADS_VERSION=2.8.4
EXPECT_VERSION=5.45.4
CRITCL_VERSION=3.1.17
TCLX_VERSION=8.4.2
TCLLIB_VERSION=1.19
BWIDGET_VERSION=1.9.13
JACLIN_VERSION=0.1.1
JTCL_VERSION=2.8.0-release

# comment the following line out in order to disable multithreading support
THREADS_FLAGS=--enable-threads

# uncomment these lines in order to add the configuration flags you need (see configure --help in tcl and tk projects) for your build;
# flags given here are just examples;
#MORE_TCL_FLAGS=--enable-64bit --enable-symbols
#MORE_TK_FLAGS=--with-x

#For MacOSX systems only
#MORE_TK_FLAGS=--enable-aqua=yes --enable-framework

# choose the build targets here (an up-to-date list of available targets can be obtained with `make help')
TARGETS=tcl tk expect critcl tclx tcllib bwidget jaclin

# without tk and bwidget
#TARGETS=tcl expect critcl tclx tcllib jaclin
